* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: rgba(255, 255, 255, 0.978);
    --secondary-color: #1ce;
    --border-color: #E5E7EB;
    --button-color: #702c36;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
}

body {
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: var(--main-color);
    height: 100vh;
    width: 65%;

    display: flex;
}

.image {
    background: url(/images/dominik-vanyi-5Fxuo7x-eyg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100%;
    position: relative;
}

.logo {
    font-family: 'Courgette', cursive;
    /* background: rgba(0, 0, 0, 0.356); */
    background: rgba(255, 255, 255, 0.517);
    height: 100px;
    font-size: 3rem;
    position: relative;
    top: 15%;
    color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    height: 5rem;
}

.credit {
    height: 30px;
    width: 100%;
    font-size: 0.8rem;
    position: absolute;
    bottom: 1px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.credit2 {
    height: 30px;
    width: 100%;
    font-size: 0.8rem;
    position: absolute;
    bottom: 17px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    height: 100%;
    font-size: 1.25rem;
    position: relative;
    bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content > div > p,
.content > p {
    padding: 45px;
}

.content > div {
    font-weight: bold;
    position: relative;
    top: 1%;
}

.content > div > p:first-child {
    position: relative;
    top: 160px;
    width: 90%;
}

.content > div > p:last-child {
    position: relative;
    top: 80px;
    width: 90%;
}

.content > p {
    font-size: .95rem;
    position: relative;
    top: 70px;
}

.content > p > a {
    color: var(--button-color);
    text-decoration: none;
    font-weight: bold;
}

form {
    background: white;
    padding: 10px 45px;
    height: 250px;
    box-shadow: 5px 5px 5px rgba(146, 146, 146, 0.243);
    position: relative;
    top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form > p {
    font-weight: bold;
}

.wrapper > div {
    padding: 5px 0px;
    font-size: 0.7rem;

    display: flex;
}

.wrapper > div div {
    margin-right: 50px;
    padding: 5px 0;
}

label {
    font-size: .65rem;
    letter-spacing: 1px;
}

input {
    padding: 7px;
    width: 250px;
    max-width: 350px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 2px 2px 5px rgb(182, 182, 182);
}

input:valid {
    outline: 1px solid green;
}

.wrapper > div div:first-child input:valid + span:after {
    content: '✓';
    color: green;
    position: absolute;
    font-size: 1.8rem;;
    left: 15px;
}

.wrapper > div div:last-child input:valid + span:after {
    content: '✓';
    color: green;
    position: absolute;
    font-size: 1.8rem;;
    left: 315px;
}

.wrapper > div div:first-child input:invalid + span:after {
    content: '✘';
    color: red;
    position: absolute;
    font-size: 1.4rem;;
    left: 19px;
}

.wrapper > div div:last-child input:invalid + span:after {
    content: '✘';
    color: red;
    position: absolute;
    font-size: 1.4rem;;
    left: 319px;
}

/* input:invalid {
    outline: 1px solid red;
} */

button {
    background: var(--button-color);
    color: white;
    padding: 15px 50px;
    position: absolute;
    bottom: -80px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 3px 5px rgb(182, 182, 182);
}

button:hover {
    cursor: pointer;
}